<div class="index-outer col-md-12 text-center">
  <h1>WELCOME TO THE BOG APP</h1>
  <p id="bog-p">register, review, and explore the creatures who live beneath</p>
  <h4><%= link_to "Get started", new_creature_path %></h4>
</div>

<!-- creatures_new_path -->