<div class="index-outer col-md-12">
  <div class="col-md-10 col-md-offset-1">
    <h1 align="center">Tags</h1>
    <p align="center">
    <% tag_max = @tags.map {|t| t.creatures.length}.sort.last %>
    <% @tags.each do |tag| %>
    <% fontsize = (tag.creatures.length.to_f / tag_max) * 30 %>
    <%= link_to tag.name, tag_path(tag.name), method: :get, :class => "tagcloud btn", :style => "font-size: #{fontsize.to_i + 5}px", :class => "btn btn-default padding" %>
    <% end %>
    </p>
  </div>
</div>